body {
	margin: 0px;
}

#grid {
	display:grid;
        grid-template-columns: 1.25fr .75fr ;
}

#map {
	border:solid thin;
	height:100vh;
	width:100%;
}

#result {
	margin:1rem;
}

pre {
	font-size: small;
	overflow: scroll !important;
	max-height: 90vh;
}
